@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

audio {
    display: none;
}

body {
    background-image: url("../img/map-phone.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.4);
}
header h1 {
    padding: 15px 0;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    text-align: center;
    color: white;
    font-family: 'Pacifico', cursive;
    -webkit-text-stroke: 1px black;
}
main {
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

main .jogador {
    display: flex;
    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
    font-family: 'Pacifico', cursive;
    font-size: 6vh;
    margin: 20px 0;
    text-transform: uppercase;
    flex-direction: column;
    align-items:center;
    text-align: center;
}
main .jogador div{
    width: 60px;
    height: 60px;
}

article#tabuleiro-divs{
    border: 1px thin black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5vh 0 0 0;
}

section.tabuleiro-divs__column{
   width: 35px;
   height: 240px;
   display: flex;
   flex-direction: column;
}

div.tabuleiro-divs__divs{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 222, 184, 135, 0.25 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

div.tabuleiro-divs__divs:hover {
    cursor: pointer;
}

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

#footer-content {
    background-color:black;
    opacity: 0.6;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    padding: 20px 0;
}

.startSection{
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.startSection button{
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url('../img/button.jpeg');
    background-position: 5;
    color:white
}

main .startSection--jogadores{
    width: 80%;   
}

.startSection--jogador h2{
    font-family: Pacifico, cursive;
    -webkit-text-stroke: 1px black;
    color:white;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
}
.startSection--jogadores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
.startSection--jogador{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba( 3, 0, 0, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}




.startSection--option{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.section--select--first{
    border: 1px solid darkblue;
    background-color: lightblue;
}
.section--select--second{
    border: 1px solid darkred;
    background-color: lightcoral;
}
.section--noselect{
    border: 1px solid transparent;
    background-color: transparent;
}




.option--gryffindor{
    background-image:url('../img/grifinoria.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 18px 2px rgb(219, 19, 19); 
    box-shadow: 0px 0px 18px 2px rgb(219, 19, 19);
}
.option--slytherin{
    background-image:url('../img/sonserina.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 18px 2px rgb(16, 71, 14); 
    box-shadow: 0px 0px 18px 2px rgb(16, 71, 14);
}
.option--hufflepuff{
    background-image:url('../img/hufflepuff.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 18px 2px rgb(219, 219, 106); 
    box-shadow: 0px 0px 18px 2px rgb(219, 219, 106);
}

.option--ravenclaw{
    background-image:url('../img/corvinal.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 18px 2px #380f99; 
    box-shadow: 0px 0px 18px 2px #380f99;
}
 
.startSection--jogador > div{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}
.startSection--jogador div div{
    width: 40px;
    height: 40px;
}


.sectionVictory{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.sectionVictory article{
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.sectionVictory h1{
    font-size: 30px;
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.sectionVictory button{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 0;
    background-color: #a7ad4b;
    border-radius: 5%;
    color:white
}

.display--none{
    display: none;
}
.section--visible{
    display: flex;
    color:white;
}

.victory--option--gryffindor{
    background-image:url('../img/grifinoria.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.victory--option--slytherin{
    background-image:url('../img/sonserina.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.victory--option--hufflepuff{
    background-image:url('../img/hufflepuff.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.victory--option--ravenclaw{
    background-image:url('../img/corvinal.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


@media only screen and (min-width: 600px) {
    
    body {
        background-image: url("../img/map-desktop.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
  
    main {
        backdrop-filter: blur( 0px );
        -webkit-backdrop-filter: blur( 0px );
    }
  
    main .jogador {
        margin: 25px auto;
    }
    article#tabuleiro-divs{
        width: 100%;
    }
    section.tabuleiro-divs__column{
        width: 40px;
    }
    #footer-content {
        position: relative;
        color: white;
        background: black;
        opacity: 0.5;
        font-family: 'Pacifico', cursive;
        padding: 25px 0;
    }
    
    main .startSection--jogador h2{
        font-size: 40px;
    }
    div.tabuleiro-divs__divs{
        background: rgba( 255, 255, 255, 0.1 );
        box-shadow: 0 8px 32px 0 grey;
        backdrop-filter: blur( 1px );
        -webkit-backdrop-filter: blur( 1px );
        border: 2px solid rgba( 255, 255, 255, 0.18 );
    }
    .sectionVictory{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 900px) {

    header h1 {
        font-size: 50px;
    }   
    main .jogador {
        font-size: 35px;
    }
    footer #footer-content{
        font-size: 40px;
    }

    .sectionVictory article{
        height: 400px;
        width: 800px;
    }
    section.tabuleiro-divs__column{
        width: 65px;
        height: 360px;
    }
    .option--gryffindor, .option--hufflepuff, .option--ravenclaw, .option--slytherin {
        width: 50px;
        height: 50px; 
    }
    div.tabuleiro-divs__divs{
        width: 60px;
        height: 60px;
    }
    .startSection--jogador > div{
        width: 100px;
        height: 100px;
    }
    .startSection--jogador div div{
        width: 70px;
        height: 70px;
    }
}