@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

audio {
    display: none;
}

body {
    background-image: url("../img/map-phone.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
   
}

header h1 {
    
    padding: 3vh 0;
    opacity: 0.5;
    margin: 2vh 0 0 0;
    font-size: 5.5vh;
    font-weight: bolder;
    text-align: center;
    color: white;
    font-family: 'Pacifico', cursive;
    -webkit-text-stroke: 1px black;
}
main {
    width:100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

main .jogador {
    display: flex;
    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
    font-family: 'Pacifico', cursive;
    font-size: 6vh;
    margin: 10vh 0 0 0;
    text-transform: uppercase;
    flex-direction: column;
    align-items:center;
    text-align: center;
}

article#tabuleiro-divs{
border: 2px thin black;
   width: 280px;
   display: flex;
   flex-wrap: wrap;
   margin: 5vh 0 0 0;
}

section.tabuleiro-divs__column{
   width: 30px;
   height: 240px;
   display: flex;
   flex-direction: column;
}

div.tabuleiro-divs__divs{
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba( 222, 184, 135, 0.25 );
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

div.tabuleiro-divs__divs:hover {
    cursor: pointer;
}

footer {
    height: 35px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#footer-content {
    background-color:black;
    opacity: 0.6;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 4vh;
    padding: 2.5vh 0;
}

.startSection{
    position: absolute;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.startSection button{
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

main .startSection--jogadores{
    width: 80%;   
}
/* main .startSection--jogador{
 width: 100%;  
 height: 300px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 
 
 
} */
main .startSection--jogador h2{
    font-family: Pacifico, cursive;
    -webkit-text-stroke: 1px black;
    color:white;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
}
.startSection--jogadores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
.startSection--jogador{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba( 3, 0, 0, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.startSection--option{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px;
}
.section--select--first{
    border: 1px solid darkblue;
    background-color: lightblue;
}
.section--select--second{
    border: 1px solid darkred;
    background-color: lightcoral;
}
.section--noselect{
    
    background-color: transparent;
}


.option--gryffindor{
    background-image:url('../img/grifinoria.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 25px 10px rgb(219, 19, 19); 
    box-shadow: 0px 0px 25px 10px rgb(219, 19, 19);
}
.option--slytherin{
    background-image:url('../img/sonserina.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 25px 10px rgb(16, 71, 14); 
    box-shadow: 0px 0px 25px 10px rgb(16, 71, 14);
}
.option--hufflepuff{
    background-image:url('../img/lufa-lufa.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 25px 10px rgb(219, 219, 106); 
    box-shadow: 0px 0px 25px 10px rgb(219, 219, 106);
}
.option--ravenclaw{
    background-image:url('../img/corvinal.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 25px 10px #380f99; 
    box-shadow: 0px 0px 25px 10px #380f99; 
}
.sectionVictory{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.sectionVictory article{
    width: 80%;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.sectionVictory h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.sectionVictory button{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 0;
}

.display--none{
    display: none;
}
.section--visible{
    display: flex;
}





.victory--option--gryffindor{
    background-color: rgb(245, 102, 102);
}
.victory--option--slytherin{
    background-color: rgb(88, 88, 88);
}
.victory--option--hufflepuff{
    background-color: lightgreen;
}
.victory--option--ravenclaw{
    background-color: rgb(209, 209, 209);
}


@media only screen and (min-width: 600px) {
    
    body {
        background-image: url("../img/map-desktop.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
  
    main {
        height: 400px;
        background: rgba( 25, 24, 24, 0.7 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 0px );
        -webkit-backdrop-filter: blur( 0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        background-size: 100% 150%;
    }
  
    main .jogador {
        margin: 25px auto;
    }
  
    footer {
        
        
    }

    }
    #footer-content {
        position: relative;
        color: white;
        background: black;
        opacity: 0.5;
        font-family: 'Pacifico', cursive;
        padding: 25px 0;
    }

article#tabuleiro-divs{
    width: 280px;
 }
 
 section.tabuleiro-divs__column{
    width: 40px;
    height: 240px;
 }
 
 div.tabuleiro-divs__divs{
    width: 40px;
    height: 40px;
    background: rgba( 255, 255, 255, 0.1 );
     box-shadow: 0 8px 32px 0 grey;
     backdrop-filter: blur( 1px );
     -webkit-backdrop-filter: blur( 1px );
     border: 2px solid rgba( 255, 255, 255, 0.18 );
 }
 .option--gryffindor, .option--hufflepuff, .option--ravenclaw, .option--slytherin {
    width: 40px;
    height: 40px; 
 }
}

@media only screen and (min-width: 1024px) {

    header h1 {
        font-size: 50px;
    }   
    main .jogador {
        font-size: 35px;
    }

}