@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

audio {
    display: block;
}

body {
    background-image: url("../img/map-phone.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

header h1 {
    margin: 2vh 0 0 0;
    font-size: 5.5vh;
    font-weight: bolder;
    text-align: center;
    color: white;
    font-family: 'Pacifico', cursive;
    -webkit-text-stroke: 1px black;
}
main {
    width:100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

main .jogador {
    display: flex;
    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
    font-family: 'Pacifico', cursive;
    font-size: 6vh;
    margin: 10vh 0 0 0;
    text-transform: uppercase;
    flex-direction: column;
    align-items:center;
    text-align: center;
}

article#tabuleiro-divs{
   width: 280px;
   display: flex;
   flex-wrap: wrap;
   margin: 5vh 0 0 0;
}

section.tabuleiro-divs__column{
   width: 40px;
   height: 240px;
   display: flex;
   flex-direction: column;
}

div.tabuleiro-divs__divs{
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 burlywood;
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}

footer {
    height: 35px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#footer-content {
    background-color: #ffe4b5;
    border: 1px solid #f4a460;
    font-size: 4vh;
    padding-top: 8px;
}

main .startSection{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .startSection button{
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
main .startSection--jogadores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
main .startSection--jogador{
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .startSection--jogador h2{
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
}
main .startSection--option{
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 10px;
}
.option--red{
    background-color: rgb(173, 0, 0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.option--black{
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}



.sectionVictory{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.sectionVictory article{
    width: 80%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.sectionVictory h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.sectionVictory button{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 0;
}

.display--none{
    display: none;
}
.section--visible{
    display: flex;
}

@media only screen and (min-width: 600px) {
    body {
        background-image: url("../img/map-desktop.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    main {
        height: 400px;
    }
    main .jogador {
        margin: 25px auto;
    }
    footer {
        position: relative;
        top: 110px;
    }
    #footer-content {
        background: #d3d3d3;
    }
}
@media only screen and (min-width: 1024px) {
    header h1 {
        font-size: 75px;
    }   
    main .jogador {
        font-size: 50px;
    }
}